In [1]:
import pandas as pd
import os
path = os.path.expanduser("~/Documents/m6A/")
input_m6AQTL = f"{path}/Data/intron_m6AQTLs.txt"
output_m6AQTL = f"{path}/Data/intron_m6AQTLs.bed"
output_dbSNP = f"{path}/Data/dbSNP/dbSNP.vcf.gz"
n = 200

#### Import dbSNP and export the first five columns, only need to do it once

In [2]:
# input_dbSNP = f"{path}/Data/dbSNP/common_all_20170710.vcf.gz"
# dbSNP = pd.read_table(input_dbSNP, header = 56, compression = "gzip", usecols = [0,1,2,3,4], low_memory = False)
# dbSNP.to_csv(output_dbSNP, compression = "gzip", sep = "\t", index = False)

#### Handle m6AQTL data
1. sort by chromosome and pos
2. plus and minus 50 for each pos

In [5]:
m6AQTL = pd.read_table(input_m6AQTL, header = 0)
m6AQTL = m6AQTL.sort_values(by = ["chr", "pos"])
m6AQTL = m6AQTL.set_index([[i for i in range(m6AQTL.shape[0])]])
m6AQTL["strand"] = m6AQTL.apply(lambda row: row["peakID"].split("_")[-1], axis = 1)
m6AQTL["gene_symbol"] = m6AQTL.apply(lambda row: row["peakID"].split("_")[0], axis = 1)
m6AQTL["start"] = m6AQTL.apply(lambda row: int(row["peakID"].split("_")[1]), axis = 1)
m6AQTL["end"] = m6AQTL.apply(lambda row: int(row["peakID"].split("_")[2]), axis = 1)
m6AQTL["width"] = m6AQTL.apply(lambda row: row["end"] - row["start"], axis = 1)
m6AQTL["pos1"] = m6AQTL.apply(lambda row: row["pos"] - n, axis = 1)
m6AQTL["pos2"] = m6AQTL.apply(lambda row: row["pos"] + n, axis = 1)
m6AQTL["gap"] = m6AQTL.apply(lambda row: row["start"] - row["pos"], axis = 1)
out_cols = ["chr", "pos1", "pos2", "gene_symbol", "width", "strand"]
m6AQTL[out_cols].to_csv(output_m6AQTL, index = False, header = False, sep = "\t")

In [ ]:
dbSNP = pd.read_table(output_dbSNP, compression = "gzip", header = 0, sep = "\t", low_memory = False)

In [10]:
dbSNP.head(10)

  #CHROM    POS           ID                     REF ALT
0      1  10177  rs367896724                       A  AC
1      1  10352  rs555500075                       T  TA
2      1  10352  rs145072688                       T  TA
3      1  10616  rs376342519  CCGCCGTTGCAAAGGCGCGCCG   C
4      1  10642  rs558604819                       G   A
5      1  11008  rs575272151                       C   G
6      1  11012  rs544419019                       C   G
7      1  11063  rs561109771                       T   G
8      1  13110  rs540538026                       G   A
9      1  13116   rs62635286                       T   G

In [6]:
m6AQTL[["chr", "pos", "snpID", "start", "end", "width", "pos1", "pos2", "gene_symbol", "gap", "strand"]].head(10)

,chr,pos,snpID,start,end,width,pos1,pos2,gene_symbol,gap,strand
0,chr1,899937,rs143296006,981788,981988,200,899737,900137,AGRN,81851,+
1,chr1,899938,rs147467971,981788,981988,200,899738,900138,AGRN,81850,+
2,chr1,899942,rs71509448,981788,981988,200,899742,900142,AGRN,81846,+
3,chr1,943468,rs3121567,949466,949516,50,943268,943668,ISG15,5998,+
4,chr1,945612,rs3121565,949466,949516,50,945412,945812,ISG15,3854,+
5,chr1,945861,rs150242145,949466,949516,50,945661,946061,ISG15,3605,+
6,chr1,946127,rs34487852,949466,949516,50,945927,946327,ISG15,3339,+
7,chr1,946135,rs9723307,949466,949516,50,945935,946335,ISG15,3331,+
8,chr1,947034,rs2465126,949466,949516,50,946834,947234,ISG15,2432,+
9,chr1,947538,rs2465125,949466,949516,50,947338,947738,ISG15,1928,+

In [18]:
res = pd.merge(m6AQTL, dbSNP, how = "inner", left_on = ["pos", "snpID"], right_on = ["POS", "ID"])

In [23]:
res1 = res[["#CHROM", "POS", "ID", "REF", "ALT", "strand", "start", "end", "width", "gene_symbol", 
            "pos1", "pos2", "beta", "FDR"]]

In [27]:
res1.head(10)

,#CHROM,POS,ID,REF,ALT,strand,start,end,width,gene_symbol,pos1,pos2,beta,FDR
0,1,899937,rs143296006,G,T,+,981788,981988,200,AGRN,899737,900137,0.209051,0.099675
1,1,899938,rs147467971,G,"C,T",+,981788,981988,200,AGRN,899738,900138,0.209051,0.099675
2,1,899942,rs71509448,G,A,+,981788,981988,200,AGRN,899742,900142,0.256919,0.053348
3,1,943468,rs3121567,T,C,+,949466,949516,50,ISG15,943268,943668,0.175897,0.081956
4,1,945612,rs3121565,C,T,+,949466,949516,50,ISG15,945412,945812,0.193259,0.040843
5,1,945861,rs150242145,ATTAT,A,+,949466,949516,50,ISG15,945661,946061,0.191278,0.009500
6,1,946127,rs34487852,GT,G,+,949466,949516,50,ISG15,945927,946327,0.186970,0.047550
7,1,946135,rs9723307,T,G,+,949466,949516,50,ISG15,945935,946335,0.186970,0.047550
8,1,947034,rs2465126,G,A,+,949466,949516,50,ISG15,946834,947234,0.195956,0.007407
9,1,947538,rs2465125,C,T,+,949466,949516,50,ISG15,947338,947738,0.183229,0.045959

### Use "bedtools" in bash under the depository
`~/Documents/m6A/Data/metApeakFisher`
```
bedtools intersect -a ../intron_m6AQTLs.bed -b peaks.merged.bed -s > peak.merged.m6AQTL.bed
```

In [29]:
from collections import Counter
Counter(m6AQTL["width"])

Counter({26: 2,
         50: 884,
         97: 1,
         98: 22,
         99: 505,
         100: 457,
         136: 1,
         138: 2,
         139: 5,
         146: 26,
         147: 6,
         148: 79,
         149: 264,
         150: 359,
         170: 9,
         196: 1,
         197: 76,
         198: 44,
         199: 567,
         200: 197,
         201: 1,
         221: 1,
         225: 1,
         233: 1,
         244: 1,
         246: 1,
         247: 46,
         248: 216,
         249: 307,
         250: 300,
         253: 1,
         262: 27,
         275: 4,
         282: 2,
         284: 18,
         286: 16,
         295: 22,
         296: 50,
         297: 17,
         298: 172,
         299: 371,
         300: 18,
         313: 201,
         325: 1,
         326: 4,
         329: 2,
         337: 1,
         340: 1,
         341: 3,
         343: 2,
         344: 7,
         345: 7,
         346: 27,
         347: 201,
         348: 9,
         349: 93,
         350: 8,
         376: 36,
         378: 405,
         380: 1,
         382: 17,
         385: 1,
         386: 24,
         390: 1,
         391: 2,
         392: 1,
         394: 1,
         395: 13,
         396: 3,
         397: 34,
         398: 47,
         399: 76,
         400: 76,
         405: 24,
         424: 2,
         439: 25,
         441: 3,
         442: 1,
         443: 16,
         444: 3,
         445: 1,
         446: 80,
         447: 26,
         448: 99,
         449: 63,
         450: 15,
         454: 1,
         473: 13,
         474: 2,
         475: 1,
         483: 16,
         485: 22,
         489: 1,
         491: 1,
         492: 1,
         493: 8,
         494: 26,
         495: 16,
         496: 49,
         497: 43,
         498: 37,
         499: 245,
         500: 1,
         528: 6,
         530: 5,
         532: 12,
         543: 4,
         544: 1,
         546: 37,
         547: 22,
         548: 86,
         549: 6,
         550: 1,
         553: 1,
         577: 1,
         579: 54,
         595: 1,
         597: 17,
         598: 3,
         599: 5,
         600: 1,
         602: 2,
         616: 8,
         637: 2,
         642: 24,
         647: 113,
         648: 25,
         650: 17,
         679: 6,
         688: 6,
         692: 2,
         694: 38,
         695: 89,
         696: 17,
         697: 14,
         698: 4,
         699: 25,
         705: 4,
         718: 261,
         725: 1,
         737: 13,
         742: 2,
         743: 1,
         744: 10,
         745: 2,
         746: 11,
         747: 12,
         748: 17,
         749: 49,
         750: 1,
         793: 51,
         794: 38,
         796: 1,
         799: 83,
         806: 24,
         811: 1,
         833: 167,
         834: 1,
         842: 116,
         846: 4,
         847: 20,
         849: 9,
         856: 2,
         879: 206,
         881: 42,
         885: 1,
         886: 1,
         892: 1,
         895: 1,
         897: 1,
         898: 6,
         899: 3,
         908: 1,
         910: 187,
         917: 1,
         934: 2,
         936: 1,
         940: 1,
         947: 7,
         948: 1,
         974: 23,
         975: 14,
         984: 4,
         989: 1,
         995: 3,
         997: 1,
         999: 1,
         1008: 4,
         1012: 2,
         1024: 1,
         1038: 1,
         1043: 1,
         1044: 1,
         1046: 59,
         1047: 1,
         1048: 4,
         1050: 1,
         1065: 9,
         1073: 6,
         1093: 1,
         1095: 20,
         1100: 4,
         1102: 7,
         1106: 5,
         1124: 2,
         1158: 1,
         1163: 2,
         1169: 1,
         1176: 1,
         1177: 8,
         1180: 1,
         1191: 1,
         1194: 1,
         1198: 9,
         1201: 9,
         1208: 15,
         1213: 77,
         1222: 4,
         1233: 8,
         1241: 1,
         1244: 1,
         1286: 1,
         1293: 1,
         1315: 17,
         1318: 1,
         1333: 7,
         1342: 10,
         1345: 1,
         1350: 1,
         1353: 1,
         1386: 1,
         1392: 1,
         1397: 1,
         1405: 35,
         1408: 8,
         1409: 6,
         1427: 37,
         1428: 1,
         1434: 11,
         1438: 1,
         1440: 10,
         1447: 2,
         1482: 5,
         1488: 10,
         1494: 13,
         1517: 10,
         1529: 11,
         1546: 1,
         1549: 53,
         1551: 2,
         1553: 14,
         1564: 9,
         1568: 1,
         1571: 1,
         1572: 3,
         1575: 1,
         1587: 1,
         1598: 1,
         1619: 1,
         1640: 1,
         1651: 1,
         1660: 2,
         1664: 1,
         1697: 3,
         1704: 2,
         1729: 51,
         1768: 1,
         1795: 13,
         1833: 1,
         1856: 2,
         1930: 1,
         1934: 6,
         1939: 1,
         2010: 205,
         2044: 1,
         2072: 1,
         2080: 1,
         2086: 33,
         2090: 10,
         2132: 1,
         2143: 2,
         2156: 17,
         2279: 1,
         2289: 17,
         2349: 1,
         2357: 5,
         2396: 1,
         2417: 169,
         2437: 1,
         2438: 2,
         2445: 1,
         2447: 1,
         2486: 1,
         2519: 1,
         2525: 2,
         2526: 115,
         2549: 2,
         2556: 1,
         2563: 4,
         2565: 1,
         2600: 1,
         2618: 7,
         2622: 1,
         2639: 1,
         2641: 286,
         2646: 1,
         2650: 10,
         2708: 2,
         2761: 64,
         2770: 3,
         2781: 7,
         2805: 33,
         2806: 4,
         2815: 3,
         2828: 14,
         2910: 3,
         2961: 6,
         2962: 7,
         2990: 1,
         2998: 33,
         3024: 27,
         3094: 1,
         3121: 13,
         3148: 1,
         3153: 1,
         3196: 19,
         3206: 1,
         3290: 2,
         3330: 1,
         3337: 2,
         3371: 20,
         3376: 1,
         3394: 3,
         3403: 1,
         3420: 7,
         3446: 1,
         3477: 2,
         3494: 43,
         3579: 21,
         3615: 15,
         3669: 8,
         3733: 1,
         3754: 21,
         3763: 1,
         3765: 2,
         3793: 1,
         3924: 1,
         3972: 2,
         3987: 1,
         4001: 1,
         4015: 2,
         4028: 3,
         4070: 1,
         4099: 24,
         4130: 25,
         4131: 5,
         4281: 1,
         4302: 1,
         4378: 1,
         4393: 8,
         4497: 1,
         4554: 1,
         4646: 2,
         4661: 1,
         4718: 9,
         4750: 1,
         4758: 1,
         4866: 3,
         4874: 1,
         4916: 8,
         5055: 5,
         5076: 2,
         5081: 18,
         5094: 2,
         5354: 1,
         5366: 37,
         5412: 262,
         5444: 1,
         5451: 1,
         5499: 9,
         5648: 2,
         5762: 4,
         5778: 1,
         5827: 1,
         5850: 2,
         5857: 6,
         5863: 4,
         5961: 32,
         6018: 3,
         6078: 1,
         6273: 41,
         6305: 9,
         6313: 1,
         6339: 5,
         6672: 27,
         6746: 1,
         6863: 9,
         6964: 1,
         7120: 3,
         7154: 5,
         7245: 31,
         7252: 1,
         7499: 1,
         7596: 2,
         7644: 1,
         7665: 4,
         7867: 11,
         8028: 1,
         8106: 18,
         8167: 1,
         8191: 1,
         8201: 3,
         8232: 8,
         8269: 1,
         8349: 19,
         8456: 1,
         8587: 39,
         8623: 11,
         8683: 16,
         8706: 25,
         8750: 1,
         8958: 39,
         9244: 3,
         9582: 2,
         9628: 1,
         9987: 11,
         10015: 3,
         10058: 2,
         10239: 250,
         10265: 1,
         10616: 2,
         10823: 10,
         10890: 5,
         10960: 1,
         11446: 1,
         11489: 5,
         11621: 1,
         11649: 1,
         11870: 47,
         12786: 1,
         12855: 1,
         13064: 1,
         13272: 2,
         13893: 10,
         13981: 4,
         14311: 8,
         14535: 1,
         14931: 3,
         15224: 10,
         15250: 12,
         15647: 1,
         15837: 4,
         15949: 1,
         16108: 3,
         16131: 1,
         16257: 2,
         16699: 21,
         16921: 1,
         17082: 1,
         17610: 23,
         18166: 1,
         18304: 4,
         18365: 1,
         18383: 6,
         20302: 1,
         20320: 16,
         20519: 2,
         20958: 5,
         21289: 7,
         21351: 1,
         23103: 9,
         23164: 4,
         24129: 5,
         25313: 1,
         25453: 2,
         26242: 4,
         26347: 1,
         26522: 2,
         27123: 1,
         27323: 1,
         27880: 1,
         28462: 2,
         32435: 4,
         32788: 1,
         36392: 2,
         39088: 1,
         55438: 4,
         57198: 1,
         59826: 6,
         64422: 12,
         67033: 1,
         70238: 25,
         86241: 28,
         98863: 2,
         102906: 1,
         106259: 2,
         110946: 2,
         117608: 19,
         128213: 5})